@media screen and (max-width: 576px) {
    /* navbar section start*/
    .navbar ul{
        display: none;
    }
    .header{
        max-width: 100%;
    }
    .navbar{
        margin: 0;
        margin: 0 20px;
        max-width: 100%;
    }
    .menu-bar{
        display: inline;
    }
    /* navbar section end*/
    
    /* banner section start */
    .banner-container{
        flex-direction: column;
        max-width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 1.2rem;
    }
    .banner-text-content{
        max-width: 100%;
        margin-bottom: 2.3rem;
    }
    .banner-text-content h1{
        font-size: 2.2rem;
        font-weight: 700;
        max-width: 70%;
    }
    .banner-text-content p{
        max-width: 85%;
    }
    .banner-text-content button{
        max-width: 100%;
    }
    .banner-img-content img{
        max-width: 100%;
    }
    .blur1{
        padding: 0.6rem 1.1rem;
        top: 8%;
    }
    .blur2{
        padding: 0.7rem 1.3rem;
        width: 50%;
        top: 45%;
        left: 0%;
    }
    /* banner section end */

    /* your habit section start */
    .similar-text{
        max-width: 100%;
        padding: 0 1.2rem;
        margin-top: 2rem;
    }
    .habit-container h1{
        font-size: 2rem;
    }
    #join-now{
        padding: 10px 66px;
    }
    .habit-card-content{
        max-width: 90%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3.4rem;
    }
    .habit-card{
        text-align: center;
        max-width: 14rem;
        margin-bottom: 2rem;
    }
    .habit-card h4{
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .habit-card p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.7rem;
        font-weight: 400;
    }
    /* your habit section end */
    
}


@media screen and (min-width: 577px) and (max-width: 992px) {
    /* navbar section */
    #btn-home{
        padding: 10px 30px;
    }
    .navbar ul{
        display: none;
    }
    .header{
        max-width: 100%;
    }
    .navbar{
        margin: 0;
        margin: 0 20px;
        max-width: 100%;
    }
    .nav-menu{
        max-width: 60%;
    }
    .nav-menu ul li{
        margin-right: 0.9rem;
    }
    .nav-menu ul li a{
        font-size: 1rem;
    }
    .nav-menu ul{
        display: inline;
        display: flex;
    }
    /* navbar section end */

    /* banner section start */
    #btn-join{
        padding: 10px 45px;
    }
    .banner-container{
        flex-direction: column;
        max-width: 100%;
        margin: 4.3rem 3rem 0 3rem;
        margin-bottom: 3.5rem;
    }
    .banner-text-content{
        max-width: 100%;
        margin-bottom: 2.3rem;
    }
    .banner-text-content h1{
        font-size: 4rem;
        font-weight: 700;
        max-width: 70%;
    }
    .banner-text-content p{
        max-width: 90%;
    }
    .banner-img-content img{
        max-width: 100%;
        margin-top: 5rem;
    }
    .blur1{
        padding: 0.6rem 1.1rem;
        top: 20%;
        left: 50%;
    }
    .blur2{
        padding: 0.7rem 1.3rem;
        width: 50%;
        top: 65%;
        left: -8%;
    }
    /* banner section end */

    /* you habit section start */
    .similar-text{
        max-width: 65%;
        padding: 0 1.2rem;
        margin-top: 5rem;
    }
    .habit-card-content{
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .habit-card{
        text-align: center;
        max-width: 14rem;
        margin-bottom: 2rem;
    }
    /* you habit section end */
    

}