                                            /* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* font-family: "Dancing Script", cursive; */

body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

                                            /* sharyed styles */
.btn-primary{
    padding: 10px 35px;
    border: none;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

/* similar-text tag */
.similar-text{
    max-width: 40%;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.similar-text h1{
    font-size: 2.8rem;
    font-weight: 900;
    /* color: rgb(255, 255, 255); */
    text-align: center;
    margin-bottom: 12px;
}
.similar-text p{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
}

/* header */
.header{
    max-width: 90%;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

                                    /* navbar section styles start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 67%;
    margin: 0 auto;
    padding-top: 50px;
}
.nav-menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    padding: 5px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 400;
}
.nav-menu ul li{
    margin-right: 2.8rem;
}
.nav-title{
    font-size: 2.2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.menu-bar{
    display: none;
}
                                    /* navbar section styles end */

                                    /* banner section styles start */
.banner-container{
    display: flex;
    justify-content: space-between;
    max-width: 67%;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
}
#span{
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
    font-weight: 900;
}
.banner-text-content{
    max-width: 42%;
}
.banner-text-content h1{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 26px;
}
.banner-text-content p{
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 26px;
    line-height: 25px;
}
.btn-primary2{
    padding: 10px 35px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 46px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 15px;
    cursor: pointer;
}
.banner-img-content{
    padding-right: 5%;
    position: relative;
}
                                /* two blur item */
.blur1{
    padding: 0.6rem 1.3rem;
    width: 45%;
    background: rgba(109, 106, 106, 0.051);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 25%;
    right: -5%;
}
.blur1 h4{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.blur1 p{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.blur2{
    padding: 1rem 1.3rem;
    width: 45%;
    background: rgba(109, 106, 106, 0.051);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 74%;
    left: -23%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blur2 h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.blur2 p{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.dot{
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    background-color: rgb(230, 83, 60);
}
/* banner section styles end */

/* your habit styles section start */
.habit-card-content{
    max-width: 67%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 3.9rem;
    margin-bottom: 6.25rem;
}
.habit-card{
    text-align: center;
    max-width: 14rem;
}
.card img{
    border-radius: 100px;
    margin-bottom: 10px;
}
.habit-card h4{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.habit-card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    font-weight: 400;
}
/* your habit section styles end*/

/* run and extra section styles start */
.run-extra-container{
    max-width: 67%;
    height: 22rem;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-bottom: 6rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.run-image img{
    width: 300%;
    position: relative;
    left: -500px;
    top: -90px;
}
.run-image{
    height: 310px;
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
}
.run-text{
    padding-left: 50px;
    margin: 0;    
}
.run-text h1{
    text-align: start;
}
.run-text p{
    text-align: start;
    margin-bottom: 1rem;
}
/* run and extra section styles end */


/* bmi calculator section styles start */
#bmi-text h1{
    text-align: start;
}
#bmi-text p{
    text-align: start;
    margin-bottom: 5.4rem;
}
.bmi-calculator-container{
    max-width: 90%;
    height: 30rem;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    padding: 3rem 11.5rem 8.7rem 11.5rem;
    margin-bottom: 6rem;
}
.bmi-chart-content h2{
    margin-bottom: 3rem;
    font-size: 1.6rem;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}
td{
    color: rgba(255, 255, 255, 0.5);
}
.calculate-text-content h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.calculate-text-content p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
}
.calculate-main-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.calculate-main-content input{
    padding: 20px 130px 15px 20px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.gender-selector{
    padding: 20px 273px 15px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(34, 34, 34);
    color: rgba(255, 255, 255, 0.3);
}
.activity-selector{
    padding: 20px 543px 15px 20px;
    border-radius: 10px;
    /* margin-right: 1rem; */
    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(34, 34, 34);
    color: rgba(255, 255, 255, 0.3);
    grid-column: span 2;
}
#cal-btn{
    padding: 18px 75px;
}
/* bmi calculator section styles end */

/* meet our team section styles start */
.meet-ourteam-container{
    max-width: 67%;
    height: 50rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background-color: rgb(34, 34, 34);
    padding: 30px;
    border-radius: 20px;
    filter: brightness(0.8);
}
.trainer-card{
    height: 23rem;
    width: 22rem;
    border-radius: 10px;
}
.trainer-card img{
    height: 350px;
    width: 392px;
}
.trainer-card img{
    height: 21.9rem;
    border-radius: 20px;
    position: absolute;
}
.traine-text{
    left: 5%;
    bottom: -265px;
    position: relative;
}
.traine-text h4{
    font-size: 1.3rem;
    margin-bottom: 5px;
}
.traine-text p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
/* meet our team section styles end */

/* footer container styles start */
.footer-container{
    max-width: 90%;
    height: 33rem;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    margin-top: 5rem;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
}
.footer-first-text{
    max-width: 28rem;
}
.footer-first-text h1{
    font-size: 4.5rem;
    font-weight: 900;
    color: rgb(230, 83, 60);
    margin-bottom: 1.2rem;
}
.footer-first-text p{
    line-height: 25px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.3);
}
.footer-second-text h1{
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2.6rem;
}
.footer-second-text p{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.footer-third-text h1{
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2.6rem;
}
.footer-third-text p{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.hr{
    width: 72.5%;
    margin: 0 auto;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}
.footer-end-text p{
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.3rem;
}
/* footer container styles end */












